@import url(http://weloveiconfonts.com/api/?family=entypo);
@font-face {
	font-family: 'Muli';
    	font-style: normal;
      	font-weight: 400;
        src: local('Muli'), 
	url(./z6c3Zzm51I2zB_Gi7146Bg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, 
			U+02C6, U+02DA, U+02DC, U+2000-206F, 
			U+2074, U+20AC, U+2212, U+2215, U+E0FF, 
			U+EFFD, U+F000;
	  }

    	.node{
    		font-size: 10px;
    	}

    	.node:hover{
    		fill:#1f77b4;
    	}

    	.link{
    		fill: none;
		stroke: #1f77b4;
		stroke-opacity: .4;
		//pointer-events:none;
    	}
	/*

    	.link.source, .link.target{
    		stroke-opacity: 1;
		stroke-width: 2px;
    	}

    	.node.target{
    		fill: #d62728 !important;
    	}

    	.link.source{
    		stroke: #d62727;
    	}

    	.node.source{
    		fill: #2ca02c;
    	}

	.link.target{
    		stroke: #2ca02c;
    	}
	*/
	body{
		//设置box布局
		//不同浏览器设置不同
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		margin: 0;
		padding: 0;
		background-color: #f0f0f0;
		font-family: Muli, sans-serif;
		color: #444;
	}
	.bckg{
		background-color: #383b42;
		//内阴影
		box-shadow: -4px 0px 10px rgba(14,14,14,0.48) inset;
		width:200px;
		height:100%;
		position:fixed;
		//left:-200px;
		top:0;
		transition: 0.2s ease-out;
		-webkit-transition: 0.2s ease-out;
	}
	h1{
		text-align: center;
		font-weight: normal;
		color: #F6F6F6;
		line-height: 60px;
		margin: 0;
		font-size: 20px;
		letter-spacing: 2px;
		background-color: #34363A;
		//底部分割线
		border-bottom: 1px solid rgba(101, 116, 134, 0.57);
	}
	h2{
		text-transform: uppercase;
		margin:0;
		letter-spacing: 3px;
		color: #919191;
		font-weight: normal;
		padding-left: 40px;
		line-height:60px;
		text-shadow: 1px 1px 2px #fff;
		position: relative;
		flex:1;
		-webkit-flex:1;
		-ms-flex:1;
	}
	h2:before{
		content: '';
		width:42.4px;
		height:42.4px;
		position:absolute;
		left:-22px;
		top: 9px;
		background-color: #34363A;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	ul{
		list-style: none;
		margin-top:0;
		padding:0;
	}
	a{
		display: block;
		color: #b3b3b3;
		text-decoration: none;
	}
	header{
		//left: -200px;
		width:200px;
		height:100%;
		float:left;
		position:relative;
		z_index:99;
		transition:0.2s ease-out;
		-webkit-transition:0.2s ease-out;
	}
	header ul li{
		color:#b3b3b3;
		border-bottom:1px solid #42454D;
		padding-left:48px;
		transition:all 0.6s;
		border-top:1px solid #2E3036;
	}
	header ul li p{
		margin-height:55px;
		font-size:18px;
		position:relative;
		letter-spacing:1px;
		transition:all 0.6s;
	}

	header ul li p:before{
		font-family:'entypo', sans-serif;
		font-size:20px;
		position:absolute;
		left:-32px
	}
	header ul li a{
		font-size:12px;
		word-break: break-all;
	}

	.name_item:before {content:"\268f";}
	.url_item:before {content:"\E776";}
	.link_item:before {content:"\1F517";}
	.optInfo_item:before {content:"\1F4C4";}
	.optTime_item:before {content:"\1F554";}
	.userIp_item:before {content:"\1F464";}
	.from_item:before {content:"\E741";}
	.to_item:before {content:"\E740";}
	.optType_item:before {content:"\2699";}

	main{
		flex:1;
		-webkit-flex:1;
		-ms-flex:1;
	}
	.graphic_title{
		background-color: #fff;
		border-bottom: 1px solid #solid #C0C1C0;
		height:60px;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}

